<img src="mmu_logo.png" style="height: 80px;" align=left>

# Learning Objectives

Towards the end of this lesson, you should be able to:
- creating a dataframe using dictionary
- using Pandas to manipulate structured dataset

In [ ]:
#!conda install pandas
import pandas as pd
from IPython.display import display

## Series
Series form the basis of Pandas.

### Initializing Series
Series can be initialized from Python objects like lists or tuples. If only values are given, Pandas generates default indices.

In [ ]:
fruits = ['apple', 'banana', 'durian']
pd.Series(fruits)

In [ ]:
numbers = [1, 2, 3]
pd.Series(numbers)

Series can be mixed type

In [ ]:
# Create a mixed series
import pandas as pd
mixed = [1, 2, "Three"]
print(pd.Series(mixed))
print()
print(type(mixed[0]))
print(type(mixed[1]))
print(type(mixed[2]))

Series also support missing values via the `None` type.

In [ ]:
#create a pandas series with None
#observe the dtype

fruits = ['apple', 'banana', 'durian']
print(pd.Series(fruits))
print("")
print(type(fruits[0]))
print(type(fruits[1]))
print(type(fruits[2]))

In [ ]:
# using the None keyword in list --> NaN in series

import numpy as np
numbers = [1, 2, None]
print(pd.Series(numbers))
print("")
print(type(numbers[0]))
print(type(numbers[1]))
print(type(numbers[2]))

We can define custom keys during initialization.

In [ ]:
# need to be careful with index. Index can be numbers.

fruits = pd.Series(
    data=["apple", "banana", "pineapple", "durian"], 
    index=["a", "b", "c", "d"])
print(fruits)

In [ ]:
# need to be careful with index. Index can be characters.

fruits = pd.Series(
    data=["apple", "banana", "pineapple", "durian"], 
    index=["a", "b", "c", "d"])
print(fruits)

Alternatively, Series can also be initialized with dictionaries. Indices are then generated from the dictionary keys.

In [ ]:
# define our own dictionary

dict = {
    'australia': 'apple',
    'malaysia': 'durian',
    'thailand': 'coconut',
    'philipines': 'mango'
}

In [ ]:
#create a pandas series from dictionary

country = pd.Series(dict)
print(country)

We can list values and indices of series.

In [ ]:
print(country.index)
print(country.values)

Series type

In [ ]:
type(country)

### Selecting Elements - IMPORTANT
As a result of iterative development of the Pandas library, there are several ways to select elements of a Series. Most of them are considered "legacy", however, and the best practice is to use `*.loc[...]` and `*.iloc[...]`. Take care to use the square brackets with `loc` and `iloc`, *not* the regular brackets as you would with functions.

#### loc
Select elements by their indices.

In [ ]:
country

In [ ]:
print(country.loc['malaysia'])

#### iloc
Select elements by their numerical IDs, i.e. the n-th element.

In [ ]:
print(country.iloc[1])

If the indices were autogenerated then both loc and iloc seem to be identical. This is **NOT** always the case !!!

In [ ]:
country_noindex = pd.Series(country.values)
print(country_noindex)
print("")
print(country_noindex.loc[0])
print(country_noindex.iloc[0])

Now, change the position by using **sort_values()** command.

In [ ]:
# make sure you check the index sequence

country_noindex_sorted = country_noindex.sort_values()
print(country_noindex_sorted)
print("")
print(country_noindex_sorted.loc[1])
print(country_noindex_sorted.iloc[1])

If you want to select by index then use `loc`, if you want to select by ID then use `iloc`. Do not use them interchangeably just because they return the same results right now. This will eventually lead to bugs in your code.

### Combining Series
Series can be combined by appending one to another

In [ ]:
# using the append command

s1 = pd.Series(["A", "B", "C"])
s2 = pd.Series(["D", "E", "F"])
print(s1)
print("")
print(s2)
print("")

s3 = s1.append(s2)
print(s3)

Notice the duplicate indices! Pandas permits this and selecting by `loc` will return **both** entries

In [ ]:
print(s3.loc[0])

Using ``iloc`` will only return based on index

In [ ]:
print(s3.iloc[0])

Also notice that if your selection of a Series results in a single entry, Pandas automatically converts it to its base type, i.e. a string in this case. If the selection consists of more than 1 entry, however, a Series is returned.

In [ ]:
print(s3.loc[0])
print(type(s3.loc[0]))
print("")
print(s3.iloc[0])
print(type(s3.iloc[0]))

## DataFrames

Multiple series with common indices can form a data frame. A data frame is like a table, with rows and columns (e.g., as in SQL or Excel).

|     | Region | Weather |
| --- | --- | --- |
| India | asia | warm |
| Sweden | europe | cold |

Each row usually denotes an entry in our data and each column a feature we're interested in.

### Creating DataFrames from Dictionary

In [ ]:
dict = {
    'Region':['asia','europe'],
    'Weather':['warm', 'cold']
    }
dict

In [ ]:
df = pd.DataFrame(dict)
df

We can use the same `*.index()` and `*.values()` functions as for Series

In [ ]:
print(df.index)
print(df.columns)
print(df.values)

### Pandas Pretty Print in Jupyter

A better way to display the output of dataframe

In [ ]:
from IPython.display import display
display(df)

Jupyter allows a shortcut for the `display` function. If we execute a Python command or line of code that results in a data frame, Jupyter will assume we want to display it and do so using its built-in function. Note, however, that it will only ever do this with the last relevant line in each cell.

### Importing and Exporting Data
Most often we don't create data within our code but read it from external sources. Pandas has a large collection of importing (and corresponding exporting) functions available.

| Data | Reader | Writer |
| --- | --- | --- |
| CSV | `read_csv` | `to_csv` |
| JSON | `read_json` | `to_json` |
| HTML | `read_html` | `to_html` |
| Local clipboard | `read_clipboard` | `to_clipboard` |
| Excel | `read_excel` | `to_excel` |
| HDF5 | `read_hdf` | `to_hdf` |
| Feather | `read_feather` | `to_feather` |
| Parquet | `read_parquet` | `to_parquet` |
| Msgpack | `read_msgpack` | `to_msgpack` |
| Stata | `read_stata` | `to_stata` |
| SAS | `read_sas` |  |
| Python Picke Format | `read_pickle` | `to_pickle` |
| SQL | `read_sql` | `to_sql` |
| Google Big Query | `read_gbq` | `to_gbq` |

http://pandas.pydata.org/pandas-docs/stable/io.html

#### Reading CSV
We will read a tabular CSV file as an example.

In [ ]:
df = pd.read_csv("banking.csv")
df.tail()

Check the **Shape** of the dataframe. It is represented as (*row*,*column*)

In [ ]:
df.shape

Get all the columns of a dataframe

In [ ]:
df.columns

#### Writing CSV
Writing CSV files is as straightforward as it gets. Notice that these functions are now methods of the specific objects, not of base Pandas

In [ ]:
df.to_csv("telemarket2.csv")

### Selecting Data
Selecting data from Pandas arrays works just as it did for NumPy arrays, except that `loc` and `iloc` are necessary.

In [ ]:
# row with index no. 9

df.iloc[[9]]

In [ ]:
# row with index 4 to 6

df.iloc[4:7]

In [ ]:
# skip 2

df.iloc[1:9:2]

Selecting columns from a dataframe

In [ ]:
# select column = 'disp' only

df[["age"]].head()

In [ ]:
# select 2 columns.

df[["age", "job"]].head()

Alternatively, we can also use the `*.loc`/`.*iloc` syntax. In this case, we have to include both the row and column indices to select. As with base Python, the color `:` instructs Pandas to select all rows or columns

In [ ]:
# select column = 'disp'

df.loc[:, ["job"]].head()

Extracting data for a particular row

In [ ]:
display(df.iloc[[4]])

Extracting data for a particular cell

In [ ]:
df.iloc[4].loc["job"]

Filtering the dataframe.

In [ ]:
# Pandas applies the operation to each individual entry

df["age"] > 25

In [ ]:
# Use loc, not iloc, to select based on boolean masks

df.loc[df["age"] > 25].head()

We can also select specific rows of certain columns with boolean masks.

In [ ]:
# select specific columns

df.loc[df["age"] > 25, ["job","housing",'education']].head()

In [ ]:
df.head(5)

In [ ]:
# select specific cell...

df.iloc[3, 5]

## Data Processing

### Aggregation

In [ ]:
print(df['age'].sum())
print(df['age'].mean())
print(df['age'].max())
print(df['age'].min())
print(df['age'].idxmax())
print(df['age'].idxmin())

Functions can be applied to series or data.frames. In the case of data frames, they are applied to each row or column individually

In [ ]:
df.dtypes

In [ ]:
df_1 = df[['age','duration','pdays']]
df_1.head()

In [ ]:
# Mean by column

df_1.mean()

In [ ]:
# check for each column, which index has the max value

df_1.idxmax()

We can decide whether the aggregation should occur along columns or rows. Note however, that the syntax is confusing. `axis=X` indicates along which dimension the function will "travel". For example, `axis=columns` indicates that all columns will be collapsed into the function, and the function will be applied to individual rows. Likewise, `axis=rows` means that the function will travel along rows and compute the aggregate value for each column individually.

In [ ]:
# sum the value for each column.

df_1.sum(axis='columns')

In [ ]:
# sum the value for each row.

df_1.sum(axis='rows')

The most important aggregation function is `*.apply()`, which applies an arbitrary function to each row/column.

In [ ]:
df_2 = pd.DataFrame([[1,1,1],[2,2,2],[3,3,3]])
df_2

In [ ]:
df_2.apply(lambda x: sum(x**2), axis='columns')

What if you sum up columns that are NOT numerical values?

In [ ]:
df_3 = pd.DataFrame({
    "Age": [10, 12, 12], 
    "Name": ["Liz", "John", "Sam"]})
display(df_3)
df_3.sum()

### Arithmetic
We can also perform element-wise operations on dataframe columns or rows, e.g.

In [ ]:
df_4 = pd.DataFrame(
    data=[[1,1,1],[2,2,2],[3,3,3]], 
    columns=["ColA", "ColB", "ColC"], 
    index=["RowA", "RowB", "RowC"])
df_4

In [ ]:
df_4["ColA"] + df_4["ColB"]

In [ ]:
# Pandas is smart enough to convert our list into a series and then add the two columns element-wise

df_4["ColA"] + [10, 11, 12]

In [ ]:
# Remember, both rows AND columns can be represented as Pandas series

df_4.loc["RowA"] * df_4.loc["RowB"]

Pandas adheres to the same broadcasting rules as NumPy

In [ ]:
df_4["New"] = df_4["ColB"] ** 3
df_4

### Grouping
A core functionality of Pandas is the ability to group data frames and apply functions to each individual group. The function `*.groupby(...)` defines groups based on common labels. Aggregators applied to this grouped data frame are then applied to each group individually.

In [ ]:
df = pd.DataFrame({
    "Height": [178, 182, 158, 167, 177, 174, 175, 185], 
    "Age": [24, 33, 32, 18, 21, 28, 22, 29],
    "Gender": ["M", "M", "F", "F", "M", "F", "M", "F"]})
display(df)
print(df.groupby("Gender"))
display(df.groupby("Gender").mean())

We can also select columns without disturbing the grouping

In [ ]:
# grouping...

print(df.groupby("Gender")["Height"])
display(df.groupby("Gender")[["Height"]].mean())

A useful function is `size()`, which counts how large each of the groups is.

In [ ]:
# size is actually calculating the number of M and F

df.groupby("Gender").size()

### Unique and Duplicated Values
Two functions can help us identify unique and duplicated values within Series objects. They are aptly names `unique()` and `duplicated()`, respectively.

#### unique
`*.unique()` returns only unique values of a **Series** object.

In [ ]:
df['Gender'].unique()

#### duplicated
`*.duplicated()` identifies duplicated values in Series objects and returns a boolean Series. Entries that have already been seen are marked as `True` while new values are marked as `False`.

In [ ]:
# your answer here...

When applied to Dataframes, `duplicated()` compares **ENTIRE ROWS** for duplicates.

In [ ]:
df = pd.DataFrame([
    ["Dog", 5], 
    ["Cat", 4], 
    ["Dog", 5], 
    ["Fish", 2], 
    ["Cat", 8]], 
    columns=["Animal", "Age"])
display(df)
display(df.duplicated())

To remove duplicated rows from a data frame we could therefore do the following (just like in NumPy, booleans are negated with `~`)

In [ ]:
# your answer here...

In [ ]:
# get the unique values in a column

df.Animal.unique().tolist()

## Merge Data Frames
Pandas data frames can be treated like SQL tables and joined.

In [ ]:
sales = pd.DataFrame({
    "Date": pd.date_range(start="2018-10-01", end="2018-10-07"), 
    "ItemID": ["A401", "C776", "A401", "FY554", "Y98R", "Y98R", "FY554"]})
sales

In [ ]:
item_info = pd.DataFrame({
    "ID": ["A401", "C776", "FY554", "Y98R"],
    "Name": ["Toaster", "Vacuum Cleaner", "Washing Machine", "Clothes Iron"], 
    "Price": [25, 220, 540, 85]})
item_info

In [ ]:
sales.merge(right=item_info, how="inner", left_on="ItemID", right_on="ID")

Merge types:
- **Inner**: keep only rows with corresponding IDs found in *both* data frames
- **Left**: use only rows with IDs found in the left data frame
- **Right**: use only rows with IDs found in the right data frame
- **Outer**: use all keys that are in at least one of the data frames. This is essentially the combination of left and right joins

Missing data will be replaced by `NaN` values

Merge the three data frames so that we have all information available for Bob, Alice, Kevin, and Joshua in a single data frame

In [ ]:
salaries = pd.DataFrame(
    data=[["Ting", 5000], ["Chong", 4000], ["David", 8000]], 
    columns=["Name", "Salary"])
departments = pd.DataFrame(
    data=[["Ting", "IT"], ["Evelyn", "Data Science"], ["Chong", "Data Science"]], 
    columns=["Name", "Department"])
supervisors = pd.DataFrame(
    data=[["IT", "Richard"], ["Data Science", "Darren"], ["Sales", "Yvonne"]], 
    columns=["Department", "Supervisor"])

In [ ]:
display(salaries, departments, supervisors)

In [ ]:
# your answer here...

In [ ]:
# your answer here...

In [ ]:
# your answer here...