In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data.csv")
df

,Timestamp,Email address,Name,Like Nasi Lemak?,"Like the movie ""Avatar""?",Get frustrated easily when things are not smooth,Love pets?,Like my environment to be tidy,I like others to listen to me,Sometimes emotional,Always look for alternatives,Like sport car or bike?,Came from a kampung?,Monthly total expenditure more than RM1000?,Like to work in a group?,Parents give me freedom in my own life?,Like BTS (a korea artist group)?,"I always worry about things (subjects, health...).",I like challenging games or exercises.
0,19/12/2022 11:21:50,1191101763@student.mmu.edu.my,1191101763 CHRISTOPHER KONG WEI JIE,yes,no,yes,yes,no,no,yes,no,yes,no,yes,yes,yes,no,no,yes
1,19/12/2022 11:22:02,1191303163@student.mmu.edu.my,1191303163 MUHAMMAD UZAIR BIN ABDUL RAZAK,yes,yes,yes,yes,yes,yes,yes,yes,yes,no,no,yes,yes,no,yes,yes
2,19/12/2022 11:22:17,1191101528@student.mmu.edu.my,1191101528 YONG WAI CHUN,yes,no,no,yes,yes,yes,yes,yes,no,no,no,no,yes,no,yes,yes
3,19/12/2022 11:22:18,1201302740@student.mmu.edu.my,1201302740 MUHAMMAD HAZIQ FAIZ BIN MOHD RIPIN,yes,no,yes,yes,yes,yes,yes,yes,no,no,no,no,yes,no,no,yes
4,19/12/2022 11:22:30,1181103357@student.mmu.edu.my,1181103357 ALFRED TAN JING SHENG,yes,yes,no,yes,yes,no,yes,yes,yes,no,yes,yes,yes,yes,yes,yes
5,19/12/2022 11:22:31,1191302815@student.mmu.edu.my,1191302815 IMAN AISYAH BINTI ZAILANI,yes,no,yes,yes,yes,yes,yes,yes,no,no,yes,yes,no,yes,yes,yes
6,19/12/2022 11:22:41,1191101595@student.mmu.edu.my,1191101595 BELLE LIM BEY EE,yes,no,yes,yes,yes,yes,yes,yes,no,no,no,yes,yes,no,yes,no
7,19/12/2022 11:22:43,1191303087@student.mmu.edu.my,1191303087 TAN CHOO HUI,yes,yes,no,yes,yes,no,yes,no,no,no,yes,no,yes,no,yes,yes
8,19/12/2022 11:22:47,1191101533@student.mmu.edu.my,1191101533 CHENG JIA PAO,no,no,yes,yes,yes,no,no,yes,no,yes,yes,yes,yes,no,no,yes
9,19/12/2022 11:22:48,1211303347@student.mmu.edu.my,1211303347 THONG KAI CHIN,yes,yes,yes,no,yes,yes,no,yes,yes,no,yes,no,no,no,no,yes
10,19/12/2022 11:22:53,1191102498@student.mmu.edu.my,1191102498 MUHAMMAD AIMAN HAFIY BIN BAHARUL AIZAL,yes,no,yes,yes,no,no,no,yes,no,no,yes,no,yes,no,yes,no
11,19/12/2022 11:23:02,1191302679@student.mmu.edu.my,1191302679 SELWYN DARRYL KESSLER,yes,no,yes,yes,yes,yes,no,yes,no,no,yes,no,no,no,yes,yes
12,19/12/2022 11:23:05,1191100695@student.mmu.edu.my,1191100695 KONG WAN ER,yes,yes,yes,yes,yes,yes,no,yes,yes,no,no,yes,yes,no,no,yes
13,19/12/2022 11:23:06,1191101434@student.mmu.edu.my,1191101434 AHMAD LUQMAN BIN AHMAD LUTPI,yes,no,yes,no,no,no,yes,no,no,no,yes,no,no,no,no,no
14,19/12/2022 11:23:07,1181103302@student.mmu.edu.my,1181103302 FOO ZHI YAO,yes,no,yes,yes,yes,no,yes,yes,no,no,no,no,yes,no,yes,yes
15,19/12/2022 11:23:09,1181103450@student.mmu.edu.my,1181103450 TAM JIAN XIN,yes,yes,no,no,yes,yes,no,yes,yes,no,no,yes,yes,no,yes,yes
16,19/12/2022 11:23:12,1181103285@student.mmu.edu.my,1181103285 WONG QIAN QING,yes,no,yes,yes,yes,no,yes,yes,no,no,no,no,no,no,yes,yes
17,19/12/2022 11:23:20,1201302708@student.mmu.edu.my,1201302708 LAKSHANA KANNATHAL UDAIYAPPAN,yes,yes,yes,yes,yes,yes,yes,yes,no,no,no,yes,yes,yes,yes,yes
18,19/12/2022 11:23:23,1181103485@student.mmu.edu.my,1181103485 SATISHNAIR A/L KRISHNAN,yes,yes,no,yes,yes,yes,yes,no,yes,no,no,yes,yes,yes,yes,yes
19,19/12/2022 11:23:31,1181103370@student.mmu.edu.my,1181103370 AVINASH IMANUEL A/L GANA RAJ IMANUEL,yes,yes,no,yes,yes,yes,no,yes,yes,no,no,no,yes,no,no,yes
20,19/12/2022 11:23:45,1191101423@student.mmu.edu.my,1191101423 KISHEN KUMAR A/L SIVALINGAM,yes,yes,yes,no,yes,yes,yes,yes,yes,no,yes,yes,yes,yes,yes,yes
21,19/12/2022 11:23:46,1191100706@student.mmu.edu.my,1191100706 TAI TONG ERN,yes,yes,yes,yes,yes,yes,yes,no,no,no,no,no,yes,no,no,no
22,19/12/2022 11:24:08,1181103111@student.mmu.edu.my,1181103111 NUR ARINA NABIHAH BINTI MUHAMMAD NA...,yes,yes,yes,no,yes,yes,yes,yes,no,no,no,yes,yes,yes,yes,yes
23,19/12/2022 11:24:37,1161200850@student.mmu.edu.my,1161200850 CHONG HOW WEN,no,no,yes,yes,yes,yes,yes,yes,yes,yes,no,yes,yes,no,yes,yes
24,19/12/2022 11:24:50,1191302766@student.mmu.edu.my,"1191302766 OCTAVIANO, QUINITO NORMAN",no,yes,yes,yes,yes,yes,yes,yes,yes,no,no,no,yes,no,yes,yes
25,19/12/2022 11:25:00,1181103244@student.mmu.edu.my,1181103244 DEIVASHREE A/P SELVA RAJOO,yes,yes,yes,yes,no,yes,yes,yes,yes,no,no,no,yes,yes,yes,yes

In [3]:
df = df.replace('yes',1).replace('no',0)
df

,Timestamp,Email address,Name,Like Nasi Lemak?,"Like the movie ""Avatar""?",Get frustrated easily when things are not smooth,Love pets?,Like my environment to be tidy,I like others to listen to me,Sometimes emotional,Always look for alternatives,Like sport car or bike?,Came from a kampung?,Monthly total expenditure more than RM1000?,Like to work in a group?,Parents give me freedom in my own life?,Like BTS (a korea artist group)?,"I always worry about things (subjects, health...).",I like challenging games or exercises.
0,19/12/2022 11:21:50,1191101763@student.mmu.edu.my,1191101763 CHRISTOPHER KONG WEI JIE,1,0,1,1,0,0,1,0,1,0,1,1,1,0,0,1
1,19/12/2022 11:22:02,1191303163@student.mmu.edu.my,1191303163 MUHAMMAD UZAIR BIN ABDUL RAZAK,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1
2,19/12/2022 11:22:17,1191101528@student.mmu.edu.my,1191101528 YONG WAI CHUN,1,0,0,1,1,1,1,1,0,0,0,0,1,0,1,1
3,19/12/2022 11:22:18,1201302740@student.mmu.edu.my,1201302740 MUHAMMAD HAZIQ FAIZ BIN MOHD RIPIN,1,0,1,1,1,1,1,1,0,0,0,0,1,0,0,1
4,19/12/2022 11:22:30,1181103357@student.mmu.edu.my,1181103357 ALFRED TAN JING SHENG,1,1,0,1,1,0,1,1,1,0,1,1,1,1,1,1
5,19/12/2022 11:22:31,1191302815@student.mmu.edu.my,1191302815 IMAN AISYAH BINTI ZAILANI,1,0,1,1,1,1,1,1,0,0,1,1,0,1,1,1
6,19/12/2022 11:22:41,1191101595@student.mmu.edu.my,1191101595 BELLE LIM BEY EE,1,0,1,1,1,1,1,1,0,0,0,1,1,0,1,0
7,19/12/2022 11:22:43,1191303087@student.mmu.edu.my,1191303087 TAN CHOO HUI,1,1,0,1,1,0,1,0,0,0,1,0,1,0,1,1
8,19/12/2022 11:22:47,1191101533@student.mmu.edu.my,1191101533 CHENG JIA PAO,0,0,1,1,1,0,0,1,0,1,1,1,1,0,0,1
9,19/12/2022 11:22:48,1211303347@student.mmu.edu.my,1211303347 THONG KAI CHIN,1,1,1,0,1,1,0,1,1,0,1,0,0,0,0,1
10,19/12/2022 11:22:53,1191102498@student.mmu.edu.my,1191102498 MUHAMMAD AIMAN HAFIY BIN BAHARUL AIZAL,1,0,1,1,0,0,0,1,0,0,1,0,1,0,1,0
11,19/12/2022 11:23:02,1191302679@student.mmu.edu.my,1191302679 SELWYN DARRYL KESSLER,1,0,1,1,1,1,0,1,0,0,1,0,0,0,1,1
12,19/12/2022 11:23:05,1191100695@student.mmu.edu.my,1191100695 KONG WAN ER,1,1,1,1,1,1,0,1,1,0,0,1,1,0,0,1
13,19/12/2022 11:23:06,1191101434@student.mmu.edu.my,1191101434 AHMAD LUQMAN BIN AHMAD LUTPI,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0
14,19/12/2022 11:23:07,1181103302@student.mmu.edu.my,1181103302 FOO ZHI YAO,1,0,1,1,1,0,1,1,0,0,0,0,1,0,1,1
15,19/12/2022 11:23:09,1181103450@student.mmu.edu.my,1181103450 TAM JIAN XIN,1,1,0,0,1,1,0,1,1,0,0,1,1,0,1,1
16,19/12/2022 11:23:12,1181103285@student.mmu.edu.my,1181103285 WONG QIAN QING,1,0,1,1,1,0,1,1,0,0,0,0,0,0,1,1
17,19/12/2022 11:23:20,1201302708@student.mmu.edu.my,1201302708 LAKSHANA KANNATHAL UDAIYAPPAN,1,1,1,1,1,1,1,1,0,0,0,1,1,1,1,1
18,19/12/2022 11:23:23,1181103485@student.mmu.edu.my,1181103485 SATISHNAIR A/L KRISHNAN,1,1,0,1,1,1,1,0,1,0,0,1,1,1,1,1
19,19/12/2022 11:23:31,1181103370@student.mmu.edu.my,1181103370 AVINASH IMANUEL A/L GANA RAJ IMANUEL,1,1,0,1,1,1,0,1,1,0,0,0,1,0,0,1
20,19/12/2022 11:23:45,1191101423@student.mmu.edu.my,1191101423 KISHEN KUMAR A/L SIVALINGAM,1,1,1,0,1,1,1,1,1,0,1,1,1,1,1,1
21,19/12/2022 11:23:46,1191100706@student.mmu.edu.my,1191100706 TAI TONG ERN,1,1,1,1,1,1,1,0,0,0,0,0,1,0,0,0
22,19/12/2022 11:24:08,1181103111@student.mmu.edu.my,1181103111 NUR ARINA NABIHAH BINTI MUHAMMAD NA...,1,1,1,0,1,1,1,1,0,0,0,1,1,1,1,1
23,19/12/2022 11:24:37,1161200850@student.mmu.edu.my,1161200850 CHONG HOW WEN,0,0,1,1,1,1,1,1,1,1,0,1,1,0,1,1
24,19/12/2022 11:24:50,1191302766@student.mmu.edu.my,"1191302766 OCTAVIANO, QUINITO NORMAN",0,1,1,1,1,1,1,1,1,0,0,0,1,0,1,1
25,19/12/2022 11:25:00,1181103244@student.mmu.edu.my,1181103244 DEIVASHREE A/P SELVA RAJOO,1,1,1,1,0,1,1,1,1,0,0,0,1,1,1,1

In [10]:
df = df.drop(df.columns[[0,1, 2]],axis = 1)

,Like Nasi Lemak?,"Like the movie ""Avatar""?",Get frustrated easily when things are not smooth,Love pets?,Like my environment to be tidy,I like others to listen to me,Sometimes emotional,Always look for alternatives,Like sport car or bike?,Came from a kampung?,Monthly total expenditure more than RM1000?,Like to work in a group?,Parents give me freedom in my own life?,Like BTS (a korea artist group)?,"I always worry about things (subjects, health...).",I like challenging games or exercises.
0,1,0,1,1,0,0,1,0,1,0,1,1,1,0,0,1
1,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1
2,1,0,0,1,1,1,1,1,0,0,0,0,1,0,1,1
3,1,0,1,1,1,1,1,1,0,0,0,0,1,0,0,1
4,1,1,0,1,1,0,1,1,1,0,1,1,1,1,1,1
5,1,0,1,1,1,1,1,1,0,0,1,1,0,1,1,1
6,1,0,1,1,1,1,1,1,0,0,0,1,1,0,1,0
7,1,1,0,1,1,0,1,0,0,0,1,0,1,0,1,1
8,0,0,1,1,1,0,0,1,0,1,1,1,1,0,0,1
9,1,1,1,0,1,1,0,1,1,0,1,0,0,0,0,1
10,1,0,1,1,0,0,0,1,0,0,1,0,1,0,1,0
11,1,0,1,1,1,1,0,1,0,0,1,0,0,0,1,1
12,1,1,1,1,1,1,0,1,1,0,0,1,1,0,0,1
13,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0
14,1,0,1,1,1,0,1,1,0,0,0,0,1,0,1,1
15,1,1,0,0,1,1,0,1,1,0,0,1,1,0,1,1
16,1,0,1,1,1,0,1,1,0,0,0,0,0,0,1,1
17,1,1,1,1,1,1,1,1,0,0,0,1,1,1,1,1
18,1,1,0,1,1,1,1,0,1,0,0,1,1,1,1,1
19,1,1,0,1,1,1,0,1,1,0,0,0,1,0,0,1
20,1,1,1,0,1,1,1,1,1,0,1,1,1,1,1,1
21,1,1,1,1,1,1,1,0,0,0,0,0,1,0,0,0
22,1,1,1,0,1,1,1,1,0,0,0,1,1,1,1,1
23,0,0,1,1,1,1,1,1,1,1,0,1,1,0,1,1
24,0,1,1,1,1,1,1,1,1,0,0,0,1,0,1,1
25,1,1,1,1,0,1,1,1,1,0,0,0,1,1,1,1

In [16]:
haziq = df.iloc[3]
len(haziq)
len(df.columns)

16

In [23]:
from scipy.spatial.distance import cdist

pandas.core.series.Series

In [28]:
haziq=haziq.transpose()
haziq

,Like Nasi Lemak?,"Like the movie ""Avatar""?",Get frustrated easily when things are not smooth,Love pets?,Like my environment to be tidy,I like others to listen to me,Sometimes emotional,Always look for alternatives,Like sport car or bike?,Came from a kampung?,Monthly total expenditure more than RM1000?,Like to work in a group?,Parents give me freedom in my own life?,Like BTS (a korea artist group)?,"I always worry about things (subjects, health...).",I like challenging games or exercises.
3,1,0,1,1,1,1,1,1,0,0,0,0,1,0,0,1

In [29]:
score_euclidean = cdist(haziq, df, 'euclidean')